*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.filter-container {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(3, 16, 48, 0.838);
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
  outline: none;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
  color: rgba(241, 236, 240, 0.895);
  font-weight: 600;
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(236, 236, 241);
}

.card {
  flex: 1 0 20%;
  min-width: 260px;
  background: rgb(16, 16, 16);
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  color: rgb(245, 245, 245);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  height: 100px;
  width: 160px;
  object-fit: cover;
}

.btnSort {
  padding: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
